body{
    color: blueviolet;
    text-align: center;
    font-family: "Courier";
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 50%;
    padding: 1em;
    border-bottom: 3px solid #fafa;
    border-right: 10px solid #fff233;
    border-left: 10px solid #33beff;
    border-top: 3px solid #ff8533;
    text-align: center;
    margin: 0 auto;
}