body{
    color: blue;
    text-align: center;
    font-family: "Arial";
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 50%;
    padding: 1em;
    border-bottom: 3px solid #fafa;
    border-right: 10px solid #fff233;
    border-left: 10px solid #33beff;
    border-top: 3px solid #ff8533;
    text-align: center;
    margin: 0 auto;
}

#cabeceraHead{
    background: chocolate;
    box-shadow: 0px 2px 28px 0px rgba(0,0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0%;
}

#footer{
    background: #535251;
    color: white;
    text-align: center;
    padding: 0.5em;
}